.color-block {
	width: 0.7em;
	height: 0.7em;
	border-radius: 0.2em;
	display: inline-block;
	box-sizing: border-box;
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	justify-content: center;
	background-color: white;
}

body {
	max-width: 1200px;
	width: 80%;
	border-radius: 1em;
	background-color: aliceblue;
	padding: 2em;
}

.centered {
	display: flex;
	justify-content: center;
}

nav.centered {
	gap: 1em;
}

.hidden {
	display: none;
}

input,button {
	padding: 0.25rem;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;
	height: 2rem;
	box-sizing: border-box;
}

button {
	padding-left: 1rem;
	padding-right: 1rem;
}

button[type="submit"] {
	background-color: rgb(0, 0, 114);
	color: white;
	font-weight: bold;
}

button[type="submit"]:hover {
	background-color: rgb(14, 14, 85);
}

button[type="submit"]:active {
	background-color: rgb(12, 12, 51);
}

.kanban {
	display: flex;
	flex-direction: row;
}

.kanban-column {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.kanban-column:last-of-type {
	border-right: 1px solid gray;
}

.kanban-column .kanban-card {
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid black;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.kanban-column .kanban-column-title {
	padding: 1em;
	border-bottom: 1px solid gray;
}

.kanban-card-name {
	font-size: 1.2em;
	font-weight: bold;
	font-style: normal;
	color: black;
}

.kanban-card {
	font-style: italic;
	color: darkgray;
}

.kanban-card-drag {
	opacity: 0.4;
}