.timeselect-header {
	border: 1px solid #dee2e6;
	height: 100%;
	border-radius: 5px;
	display: flex;
	font-size: 14px;
	padding: 0px 8px;
	padding-right: 30px;
	align-items: center;
	color: #65727e;
	position: relative;
	box-sizing: border-box;
}

.timeselect-header::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23949ba3' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
	height: 12px;
	width: 12px;
}

.timeselect-content {
	display: none;
}

.timeselect-content.timeselect-open {
	position: absolute;
	display: block;
	background-color: white;
	padding: 0.5em;
	/* border: 1px solid lightblue; */
	border-radius: 5px;	
	margin: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: #65727e;
}

.timeselect-content-grid {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1em;
}

.timeselect-content-grid label {
	justify-self: end;
}

.timeselect-include-no-time {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 1em;
	margin: 1em;
}

.timeselect-exclude-no-time label {
	text-align: right;
}