details {
	margin-left: 1em;
}

.tasks {
	table-layout: fixed;
	width: calc(100% - 4em);
	border-collapse: collapse;
	border: 3px solid black;
	/* margin: 2em; */
}

.tasks thead {
	border-bottom: 2px solid black;
}

.tasks thead th:nth-child(1) {
	width: 2em;
}

.tasks td,th {
	text-align: center;
}

.tasks td,th:not(:last-child) {
	border-right: 1px solid black;
}

tbody tr:nth-child(even) {
	background-color: #00000018;
}

.filters {
	margin: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5em;
}

.filters .select {
	width: fit-content;
}

.filters button[type="submit"] {
	align-self: stretch;
	height: auto;
}

.span-stretched {
	display: inline-flex;
	justify-content: space-between;
}

.name > span {
	width: 100%;
}