.color-block {
	width: 0.7em;
	height: 0.7em;
	border-radius: 0.2em;
	display: inline-block;
	box-sizing: border-box;
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	justify-content: center;
	background-color: white;
}

body {
	max-width: 1200px;
	width: 80%;
	border-radius: 1em;
	background-color: aliceblue;
	padding: 2em;
}

details {
	margin-left: 1em;
}

.tasks {
	table-layout: fixed;
	width: calc(100% - 4em);
	border-collapse: collapse;
	border: 3px solid black;
	/* margin: 2em; */
}

.tasks thead {
	border-bottom: 2px solid black;
}

.tasks thead th:nth-child(1) {
	width: 2em;
}

.tasks td,th {
	text-align: center;
}

.tasks td,th:not(:last-child) {
	border-right: 1px solid black;
}

tbody tr:nth-child(even) {
	background-color: #00000018;
}

.centered {
	display: flex;
	justify-content: center;
}
.hidden {
	display: none;
}

.filters {
	margin: 2em;
}

.filters .select {
	width: fit-content;
}
